<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<property name="LOG_PATH" value="logs" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"></property>
	<timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>%msg%n</pattern>
		</layout>
	</appender>
	<logger name="com.vinodh" level="info" additivity="false">
		<appender-ref ref="Console-Appender" />
	</logger>
	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="Console-Appender" />
	</logger>
	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="Console-Appender" />
	</logger>
	<logger name="org.hibernate" level="INFO" additivity="false">
		<appender-ref ref="Console-Appender" />
	</logger>
	<logger name="com.ibatis" additivity="false">
		<appender-ref ref="Console-Appender" />
	</logger>
	<root>
		<appender-ref ref="Console-Appender" />
	</root>
</configuration>